---
import profilePicture from '@site/assets/profilePicture.webp';
---

<div class="relative m-8">
    <img src={profilePicture.src} alt="Lijucay" class="size-24 mr-4 float-left rounded-3xl" />
    <div>
        <h1 class="font-extrabold text-2xl text-(--color-primary) mb-3">Hi there!</h1>
        <p class="mb-3 text-(--color-on-background)">My name is <span class="text-(--color-primary)">Luca</span> and I am a 20 years old (hobby) developer from <span class="text-(--color-tertiary)">Germany</span>.</p>
    </div>

    <hr class="h-px my-8 bg-(--color-on-background) border-0" />
</div>