---

---

<footer class="w-full bg-(--color-tertiary-container)">
    <div class="lg:px-16 xl:px-32 block py-[20px]">
        <div class="flex gap-4 justify-center mb-6">
            <a href="https://www.threads.net/@lijucay" class="text-(--color-tertiary-on-container)"><i class="fa-brands fa-threads fa-2xl"></i></a>
            <a href="https://github.com/Lijucay" class="text-(--color-tertiary-on-container)"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.instagram.com/Lijucay/#" class="text-(--color-tertiary-on-container)"><i class="fa-brands fa-instagram fa-2xl"></i></a>
        </div>
        <p class="text-(--color-tertiary-on-container) text-sm text-center text-outline">&copy;<span class="text-(--color-primary) font-extrabold">Lijucay.</span> All rights reserved.</p>
    </div>
</footer>