---
import Layout from "@site/layouts/Layout.astro";

import "@site/styles/global.css"
---

<Layout>
    <div class="rounded-3xl bg-(--color-error-container) p-4 max-w-[80%] mx-auto">
        <h1 class="text-(--color-error-on-container) text-xl font-bold">Under construction!</h1>
        <p class="text-(--color-error-on-container)">This page is currently under construction. If you want to learn about Qwotable, feel welcome to visit its <a class="underline" href="https://github.com/Lijucay/Qwotable">Repository on GitHub</a>.</p>
    </div>
</Layout>